extends "base.jade"
block content
    h1.text-center
        div
            | 404 Not Found
    h2.text-center
        div
            | Sorry, but page you requested cannot be found...
    div.text-center.spacer-top-3.small
        div
            | ...and now you are watching Rick's roll so I tricked you twice
        div.spacer-top-1
            iframe(width="420",height="315",src="https://www.youtube.com/embed/oHg5SJYRHA0?autoplay=True",frameborder="0",allowfullscreen="True")