extends "base.jade"
block content
    .row
        .col-sm-offset-2.col-sm-8
            h1 Welcome to the Experiment
            blockquote
                p We've been playing games since humanity had civilization - there is something primal about our desire and our ability to play games. It's so deep-seated that it can bypass latter-day cultural norms and biases.
                small.author Jane McGonigal
            p
                a.btn.btn-primary.btn-lg.pull-right(href=url_for('gaming'),role="button") Start playing